<!DOCTYPE html>
<html>
<!-- This page display table of colors and a box showing the selected color every time you click on
new one,We should find way to change the background color of the target page (cui). -->
<head>
    <title>Color Panel Interface</title>
    <link rel="stylesheet" href="css/colors.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
</head>

<body>
    <h2>Change the color of the Creature's interface</h2>
    <table>
        <tr>
            <td id="C_White">
                <a class="WhiteLink" href="#" id="white"> White </a>
            </td>

            <td id="C_Black">
                <a class="BlackLink" href="#" id="black"> Black </a>
            </td>
        </tr>
        <tr>
            <td id="C_Gray">
                <a class="MyLink" href="#" id="gray"> Gray </a>
            </td>
            <td id="C_Red">
                <a class="MyLink" href="#" id="red"> Red </a>
            </td>
        </tr>
        <tr>
            <td id="C_Blue">
                <a class="MyLink" href="#" id="blue"> Blue </a>
            </td>
            <td id="C_Green">
                <a class="MyLink" href="#" id="green"> Green </a>
        </tr>
        <tr>
            <td id="C_Orange">
                <a class="MyLink" href="#" id="orange"> Orange </a>
            </td>
            <td id="C_Yellow">
                <a class="MyLink" href="#" id="yellow"> Yellow </a>
            </td>
        </tr>
        <tr>
            <td id="C_Pink">
                <a class="MyLink" href="#" id="pink"> Pink </a>
            </td>
            <td id="C_Purple">
                <a class="MyLink" href="#" id="purple"> Purple </a>
            </td>
        </tr>
    </table>
    <hr>

    <h2>The Current Color :</h2>
    <div class="displayDiv"></div>

    <script src="js/colors.js"></script>
</body>
</html>