<!DOCTYPE html>
<!--CUI-Colored User Interface -->

<!-- This page should display single color based on the input on Colors page
so it can be used as colorful Interface for our " Lego Cretures" robots. -->
<html>

<head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <title>CUI</title>
</head>

<body>
  <div id="NEWDIV">
    <h2>The background color of this page should be changed by the pressed links on colors page</h2>
    Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div
    Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div
    Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div Div 
  </div>

</body>

</html>